Repository DaanV2/vscode-go-asm, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/CD, documentation, dependencies

.github/labeler.yml:

CI/CD:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/docs/**"
          - "*.md"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - package-lock.json

bug:
  - head-branch: ["^bug", "bug"]
feature:
  - head-branch: ["^feature", "feature"]

  # Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: "main"

removing unneeded release file
  .github/workflows/tagged-release.yml
Labels: CI/CD

feat: adding makefile
  .editorconfig
  makefile
Labels: none

feat: updating readme
  README.md
Labels: documentation

updating name
  package.json
Labels: dependencies

feat: using webview to render go code, and adding only functions of the show file
  README.md
  src/assembly/content.ts
  src/assembly/index.ts
  src/checks.ts
  src/commands/commands.ts
  src/documents/document-provider.ts
  src/documents/index.ts
  src/documents/tracker.ts
  src/extension.ts
  src/format/constants.ts
  src/format/index.ts
  src/format/uris.ts
  src/go/dependencies.ts
  src/test/extension.test.ts
  src/view/webview.ts
Labels: documentation

updating changelog to latest changes
  CHANGELOG.md
Labels: documentation

feat: adding error message if compiling went wrong
  src/assembly/content.ts
Labels: none

formatted changelog
  CHANGELOG.md
Labels: documentation

0.1.1
  package-lock.json
  package.json
Labels: dependencies

fix: ignoring docs assets
  .vscodeignore
Labels: none

fix: making demo gif larger
  README.md
Labels: documentation

0.1.2
  package-lock.json
  package.json
Labels: dependencies

better function checks and sorting
  src/assembly/content.ts
  src/assembly/info.ts
  src/go/dependencies.ts
Labels: none

docs: updating changelog
  CHANGELOG.md
Labels: documentation

0.1.3
  package-lock.json
  package.json
Labels: dependencies

adding logger
  src/assembly/content.ts
  src/checks.ts
  src/commands/commands.ts
  src/documents/tracker.ts
  src/extension.ts
  src/logger/logger.ts
Labels: none

chore: setting version to v0.1.4
  package.json
Labels: dependencies

chore: sorting inputs
  src/view/webview.ts
Labels: none

feat: updating readme
  README.md
Labels: documentation

refactor: node native tests, and cleanup
  esbuild.js
  package.json
  src/test/assembly-info.test.ts
  src/test/line-maps.test.ts
  src/test/source-match.test.ts
  src/test/symbols.test.ts
  src/view/lineMaps.ts
  src/view/sourceMatch.ts
  src/view/sourceMatchTarget.ts
  src/view/webview.ts
  src/view/webviewHtml.ts
Labels: dependencies

refactor: fixing a whole bunch
  .gitignore
  src/assembly/content.ts
  src/assembly/order.ts
  src/documents/tracker.ts
  src/extension.ts
  src/format/uris.ts
  src/test/assembly-order.test.ts
  src/test/source-match.test.ts
  src/view/sourceMatch.ts
  src/view/sourceMatchTarget.ts
  src/view/webview.ts
  src/view/webviewHtml.ts
Labels: none

perf: merge buildLineMaps+getHtml into single-pass processAssembly; use sql.js webview DB
  esbuild.js
  package-lock.json
  package.json
  resources/sql-wasm.js
  resources/sql-wasm.wasm
  src/documents/tracker.ts
  src/extension.ts
  src/view/lineMaps.ts
  src/view/webview.ts
  src/view/webviewHtml.ts
Labels: dependencies

feat: refactoring to streaming
  package-lock.json
  package.json
  src/assembly/container.ts
  src/assembly/content.ts
  src/assembly/info.ts
  src/cache/cache.ts
  src/commands/commands.ts
  src/test/line-maps.test.ts
  src/view/lineMaps.ts
  src/view/webview.ts
  src/view/webviewHtml.ts
  tsconfig.json
Labels: dependencies

refactor: cleanup
  diff.dev
  src/view/webview.ts
Labels: none

refactor: cleanup
  diff.dev
Labels: none

Refactor assembly line mapping and prioritize assembly blocks
  src/assembly/container.ts
  src/test/line-maps.test.ts
  src/view/lineMaps.ts
  src/view/webview.ts
  src/view/webviewHtml.ts
Labels: none

fix: fixing colouring
  src/assembly/content.ts
  src/assembly/index.ts
  src/cache/cache.ts
  src/documents/index.ts
  src/documents/tracker.ts
  src/format/uris.ts
  src/view/webview.ts
  src/view/webviewHtml.ts
Labels: none

fix: adding race checks and fixes
  src/assembly/content.ts
  src/view/webview.ts
Labels: none

Update src/assembly/container.ts
  src/assembly/container.ts
Labels: none

fix: applying feedback to PR
  src/assembly/content.ts
  src/cache/cache.ts
  src/view/webviewHtml.ts
Labels: none

feat: updating gif demo
  docs/assets/demo.gif
Labels: documentation

refactor: cleanup of unused code
  src/assembly/info.ts
  src/assembly/order.ts
  src/go/dependencies.ts
Labels: none

1.0.0
  package-lock.json
  package.json
Labels: dependencies

1.0.1
  package-lock.json
  package.json
Labels: dependencies

feat: adding inline rendering of data
  src/view/webview.ts
  src/view/webviewHtml.ts
Labels: none

refactor: no posting update, since we have trackers
  src/view/webview.ts
Labels: none

refactor: improving speed
  package.json
  src/assembly/filter.ts
  src/env/goenv.ts
  src/extension.ts
  src/go/module.ts
  src/view/webview.ts
  src/view/webviewHtml.ts
Labels: dependencies

chore: upgrading to 1.0.2
  package.json
Labels: dependencies

chore: cleaning up dependencies
  package-lock.json
Labels: dependencies

feat: using justfile
  justfile
  makefile
Labels: none
